# This is a basic workflow to help you get started with Actions

name: Daily Weather Fetch

# Controls when the workflow will run
on:
  schedule:
    - cron: "0 0 * * *" 
  # Triggers the workflow on push or pull request events but only for the "main" branch
  # push:
  #   branches: [ "main" ]
  # pull_request:
  #   branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "fetch-weather"
  fetch-weather:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout repo 
        uses: actions/checkout@v4

      - name: Set Up Python
        uses: action/setup-python@v5
        with:
          python-version: "3.10"
          
      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run weather script
        env:
          WEATHERSTACK_API_KEY: ${{secrets.WEATHERSTACK_API_KEY}}
        run: |
          python weather_fetch.py
      
      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
